@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800&display=swap");

@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  font-family: "Libre Franklin", sans-serif;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

/* ---- */

/* --- */
.col-1 a {
  text-decoration: none;
}

.swipe-link {
  text-decoration: none;
  padding-left: 15px;
}
.carousel-nav-icon {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-size: 2.5rem;
}

.container {
  background: none;
}

.home-section-10 {
  background-color: white;
}

.view-courses {
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px solid var(--bg-dark-grey);
  background: none;
  font-weight: 600;
}

.container-center-cont {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.view-courses:hover {
  background: var(--bg-dark-grey);
  color: var(--bg-white);
}

.trend-btn-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.trend-btn {
  flex: 1;
  font-size: 0.9rem;
  background: none;
  border: 1.3px solid lightgray;
  padding: 0.2rem 0.6rem;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.trend-btn:hover {
  background: #0d81cf;
  color: white;
}

.trend-title {
  cursor: pointer;
  color: white !important;
  background: red;
  width: auto;
  border-radius: 4px;
  margin: 0px 10px 10px 10px;
  transform: translateY(-20px);
}
.trend-img {
  width: 100%;
  object-fit: cover;
  height: auto;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
